*{
    margin:0px;
  
}
body{
    background-color:rgb(0, 0, 0); 
    color: ghostwhite;
    padding-left: 200px;
    padding-right: 200px;   
}
.about{
    padding: 20px;
    justify-content: center;
}
.log{
  font-family: "Bitcount Grid Double", system-ui;
  font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    background-color: rgb(4, 2, 0);
    color:cornflowerblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    padding-left: 50px;
    padding-right: 100px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;  
}
.menu{
   display: none;
}
.links{
    display: flex;
    list-style-type: none;
    gap: 10px;
    transform: translateX(-20px);
}
a:link{
    color:whitesmoke;
    text-decoration: none;
    
}
a:hover{
    color:whitesmoke;
    text-decoration:underline;
}
a:active{
    color:whitesmoke;
}
a:visited{
    color:whitesmoke;
}
.herosection{
    margin-top: 30px;
    align-items: center;
    display: flex;
    gap: 60px;
}
.greet{
    padding-left: 20px;
}
.img-block>img{
    height: 250px;
    width: 250px;
}
.card{
    border: 1px solid black;
    width: 280px;
    height:140px;
    border-radius:2px;
    padding: 5px;
    background-color: indianred;
    margin: 10px;
}
.aca{
    padding: 20px;
}
.cards-container{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width:764px) {
    .links{
        display:none;
    }
    .menu{
        display:block;
        color: black;
    }   
    nav{
        background-color: rgb(57, 126, 245);
        justify-content: center;
        color: black;
    }
    body{
        padding-left: 10px;
        padding-right: 10px;
    }
}
.skills {
    width: 100%;
    overflow: hidden;
    padding: 25px 0;
    background: #0e37a8;
}

.skills-track {
    display: flex;
    width: max-content;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
    
}

.skills-track span {
    margin: 0 15px;
    font-size: 20px;
    color: #222;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.skills:hover .skills-track {
    animation-play-state: paused;
}